<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <!--Loop over all the items that our .find function has brought back from the tasks collection
    Within our for loop we are going to display the contents of each field we have in our database -->
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}
</body>
</html>