{% extends "base.html" %}
{% block content %} <!--This is taken from base.html-->

    <h2>I'm extending the base template</h2>

<!--Loop over all the items that our .find function has brought back from the tasks collection
Within our for loop we are going to display the contents of each field we have in our database -->
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}

{% endblock %}
